.button {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-family: system-ui;
  background-color: #456990;
  border-color: #456990;
  color: #ffffff;
  cursor: pointer;
  font-weight: 400;
}

.buttonDisabled {
  composes: button;
  cursor: auto;
  background-color: #a1b2c4;
  border-color: #a1b2c4;
}

.button:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .button {
    width: 100%;
  }
}
