.author {
  border: solid 1px #456990;
  background-color: #456990;
  color: #ffffff;
  padding: 10px 10px 10px 15px;
  margin: 2px 4px 2px 0px;
  border-radius: 4px;
}

.close {
  color: #ffffff;
  cursor: pointer;
  padding-left: 10px;
}
