.jumbo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-left: solid 4px #313e50;
  padding-left: 30px;
  margin: 25px 0px 50px 0px;
}

.jumboTitle {
  color: #313e50;
  font-weight: 400;
  margin: 0;
}

.jumboText {
  color: #313e50;
  font-weight: 300;
}

@media only screen and (max-width: 400px) {
  .jumbo {
    padding-left: 20px;
  }

  .jumboTitle {
    font-size: 30px;
  }

  .jumboText {
    font-size: 13px;
  }
}
