.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.footerList {
  display: flex;
  justify-content: space-evenly;
}

.footerText {
  color: #313e50;
}
