.container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-direction: column;
}

.search {
  padding: 10px 30px 30px 30px;
  background-color: #c0d6df;
  display: block;
  border-radius: 2px;
}

.searchForm {
  display: flex;
  flex-wrap: wrap;
}

.searchFormInput {
  flex-grow: 5;
  padding: 10px;
  font-family: system-ui;
  font-size: 16px;
  border-style: hidden;
  border-radius: 0;
}

.searchFormButton {
  flex-grow: 1;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #456990;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: system-ui;
  font-size: 16px;
}

.searchResults {
  padding: 10px 30px 30px 30px;
  background-color: #96bdc6;
  display: block;
  border-radius: 2px;
}

.searchResultsText {
  margin: 0;
}

.searchResultsTotal {
  margin: 0;
}

.searchResultsForms {
  margin-bottom: 0;
}
