.container {
  display: flex;
  justify-content: center;
}

.search {
  padding: 10px 30px 30px 30px;
  background-color: #c0d6df;
  display: block;
  border-radius: 2px;
  width: 100%;
}

.searchForm {
  display: flex;
  flex-wrap: wrap;
}

.searchFormInput {
  flex-grow: 5;
  padding: 10px;
  font-family: system-ui;
  font-size: 14px;
}

.searchFormButton {
  flex-grow: 1;
  padding: 10px;
  font-family: system-ui;
  font-size: 14px;
}
